modules = ["nodejs-20", "php-8.2"]
run = "php -S 0.0.0.0:$PORT"

[nix]
channel = "stable-24_05"
packages = ["tcpcrypt", "snicat", "nano"]

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 33249
externalPort = 3001

[[ports]]
localPort = 33829
externalPort = 80

[[ports]]
localPort = 35719
externalPort = 3002

[[ports]]
localPort = 36881
externalPort = 3000

[[ports]]
localPort = 40063
externalPort = 3003
